/**/
/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font-size: 100%;
}
html,
body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
}
.small {
  /* 13px / 18px */
  font-size: 0.8125em;
  line-height: 1.38461538em;
}
.normal,
h3 {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
  /* 24 */
}
.large,
h2,
h1 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.38461538em;
}
.huge {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.14285714em;
}
.massive {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.05882353em;
}
.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.09090909em;
}
/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/
.ie body {
  width: 40em;
  margin: 0 auto;
  font-size: 1.0625em;
}
.ie h1 {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.14285714em;
  margin: 1.14285714em 0 0.57142857em;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16 {
  position: relative;
  min-height: 1.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.0625em;
  }
  h1 {
    /* 42px / 48px */
    font-size: 2.625em;
    line-height: 1.14285714em;
    margin: 1.14285714em 0 0.57142857em;
  }
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4 {
  float: left;
}
.col-xs-4 {
  width: calc(100%  - 1.5em);
  min-height: 1.5em;
}
.col-xs-3 {
  width: calc(75%  - 1.5em);
  min-height: 1.5em;
}
.col-xs-2 {
  width: calc(50%  - 1.5em);
  min-height: 1.5em;
}
.col-xs-1 {
  width: calc(25%  - 1.5em);
  min-height: 1.5em;
}
.col-xs-pull-4 {
  right: 100%;
}
.col-xs-pull-3 {
  right: 75%;
}
.col-xs-pull-2 {
  right: 50%;
}
.col-xs-pull-1 {
  right: 25%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-4 {
  left: 100%;
}
.col-xs-push-3 {
  left: 75%;
}
.col-xs-push-2 {
  left: 50%;
}
.col-xs-push-1 {
  left: 25%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-4 {
  margin-left: 100%;
}
.col-xs-offset-3 {
  margin-left: 75%;
}
.col-xs-offset-2 {
  margin-left: 50%;
}
.col-xs-offset-1 {
  margin-left: 25%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1em;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
    float: left;
  }
  .col-md-8 {
    width: calc(100%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-7 {
    width: calc(87.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-6 {
    width: calc(75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-5 {
    width: calc(62.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-4 {
    width: calc(50%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-3 {
    width: calc(37.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-2 {
    width: calc(25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-1 {
    width: calc(12.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-pull-8 {
    right: 100%;
  }
  .col-md-pull-7 {
    right: 87.5%;
  }
  .col-md-pull-6 {
    right: 75%;
  }
  .col-md-pull-5 {
    right: 62.5%;
  }
  .col-md-pull-4 {
    right: 50%;
  }
  .col-md-pull-3 {
    right: 37.5%;
  }
  .col-md-pull-2 {
    right: 25%;
  }
  .col-md-pull-1 {
    right: 12.5%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-8 {
    left: 100%;
  }
  .col-md-push-7 {
    left: 87.5%;
  }
  .col-md-push-6 {
    left: 75%;
  }
  .col-md-push-5 {
    left: 62.5%;
  }
  .col-md-push-4 {
    left: 50%;
  }
  .col-md-push-3 {
    left: 37.5%;
  }
  .col-md-push-2 {
    left: 25%;
  }
  .col-md-push-1 {
    left: 12.5%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-8 {
    margin-left: 100%;
  }
  .col-md-offset-7 {
    margin-left: 87.5%;
  }
  .col-md-offset-6 {
    margin-left: 75%;
  }
  .col-md-offset-5 {
    margin-left: 62.5%;
  }
  .col-md-offset-4 {
    margin-left: 50%;
  }
  .col-md-offset-3 {
    margin-left: 37.5%;
  }
  .col-md-offset-2 {
    margin-left: 25%;
  }
  .col-md-offset-1 {
    margin-left: 12.5%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.0625em;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
    float: left;
  }
  .col-md-8 {
    width: calc(100%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-7 {
    width: calc(87.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-6 {
    width: calc(75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-5 {
    width: calc(62.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-4 {
    width: calc(50%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-3 {
    width: calc(37.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-2 {
    width: calc(25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-1 {
    width: calc(12.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-pull-8 {
    right: 100%;
  }
  .col-md-pull-7 {
    right: 87.5%;
  }
  .col-md-pull-6 {
    right: 75%;
  }
  .col-md-pull-5 {
    right: 62.5%;
  }
  .col-md-pull-4 {
    right: 50%;
  }
  .col-md-pull-3 {
    right: 37.5%;
  }
  .col-md-pull-2 {
    right: 25%;
  }
  .col-md-pull-1 {
    right: 12.5%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-8 {
    left: 100%;
  }
  .col-md-push-7 {
    left: 87.5%;
  }
  .col-md-push-6 {
    left: 75%;
  }
  .col-md-push-5 {
    left: 62.5%;
  }
  .col-md-push-4 {
    left: 50%;
  }
  .col-md-push-3 {
    left: 37.5%;
  }
  .col-md-push-2 {
    left: 25%;
  }
  .col-md-push-1 {
    left: 12.5%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-8 {
    margin-left: 100%;
  }
  .col-md-offset-7 {
    margin-left: 87.5%;
  }
  .col-md-offset-6 {
    margin-left: 75%;
  }
  .col-md-offset-5 {
    margin-left: 62.5%;
  }
  .col-md-offset-4 {
    margin-left: 50%;
  }
  .col-md-offset-3 {
    margin-left: 37.5%;
  }
  .col-md-offset-2 {
    margin-left: 25%;
  }
  .col-md-offset-1 {
    margin-left: 12.5%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
    float: left;
  }
  .col-md-8 {
    width: calc(100%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-7 {
    width: calc(87.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-6 {
    width: calc(75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-5 {
    width: calc(62.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-4 {
    width: calc(50%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-3 {
    width: calc(37.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-2 {
    width: calc(25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-1 {
    width: calc(12.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-pull-8 {
    right: 100%;
  }
  .col-md-pull-7 {
    right: 87.5%;
  }
  .col-md-pull-6 {
    right: 75%;
  }
  .col-md-pull-5 {
    right: 62.5%;
  }
  .col-md-pull-4 {
    right: 50%;
  }
  .col-md-pull-3 {
    right: 37.5%;
  }
  .col-md-pull-2 {
    right: 25%;
  }
  .col-md-pull-1 {
    right: 12.5%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-8 {
    left: 100%;
  }
  .col-md-push-7 {
    left: 87.5%;
  }
  .col-md-push-6 {
    left: 75%;
  }
  .col-md-push-5 {
    left: 62.5%;
  }
  .col-md-push-4 {
    left: 50%;
  }
  .col-md-push-3 {
    left: 37.5%;
  }
  .col-md-push-2 {
    left: 25%;
  }
  .col-md-push-1 {
    left: 12.5%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-8 {
    margin-left: 100%;
  }
  .col-md-offset-7 {
    margin-left: 87.5%;
  }
  .col-md-offset-6 {
    margin-left: 75%;
  }
  .col-md-offset-5 {
    margin-left: 62.5%;
  }
  .col-md-offset-4 {
    margin-left: 50%;
  }
  .col-md-offset-3 {
    margin-left: 37.5%;
  }
  .col-md-offset-2 {
    margin-left: 25%;
  }
  .col-md-offset-1 {
    margin-left: 12.5%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.0625em;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
    float: left;
  }
  .col-md-8 {
    width: calc(100%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-7 {
    width: calc(87.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-6 {
    width: calc(75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-5 {
    width: calc(62.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-4 {
    width: calc(50%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-3 {
    width: calc(37.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-2 {
    width: calc(25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-1 {
    width: calc(12.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-pull-8 {
    right: 100%;
  }
  .col-md-pull-7 {
    right: 87.5%;
  }
  .col-md-pull-6 {
    right: 75%;
  }
  .col-md-pull-5 {
    right: 62.5%;
  }
  .col-md-pull-4 {
    right: 50%;
  }
  .col-md-pull-3 {
    right: 37.5%;
  }
  .col-md-pull-2 {
    right: 25%;
  }
  .col-md-pull-1 {
    right: 12.5%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-8 {
    left: 100%;
  }
  .col-md-push-7 {
    left: 87.5%;
  }
  .col-md-push-6 {
    left: 75%;
  }
  .col-md-push-5 {
    left: 62.5%;
  }
  .col-md-push-4 {
    left: 50%;
  }
  .col-md-push-3 {
    left: 37.5%;
  }
  .col-md-push-2 {
    left: 25%;
  }
  .col-md-push-1 {
    left: 12.5%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-8 {
    margin-left: 100%;
  }
  .col-md-offset-7 {
    margin-left: 87.5%;
  }
  .col-md-offset-6 {
    margin-left: 75%;
  }
  .col-md-offset-5 {
    margin-left: 62.5%;
  }
  .col-md-offset-4 {
    margin-left: 50%;
  }
  .col-md-offset-3 {
    margin-left: 37.5%;
  }
  .col-md-offset-2 {
    margin-left: 25%;
  }
  .col-md-offset-1 {
    margin-left: 12.5%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
    float: left;
  }
  .col-md-8 {
    width: calc(100%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-7 {
    width: calc(87.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-6 {
    width: calc(75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-5 {
    width: calc(62.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-4 {
    width: calc(50%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-3 {
    width: calc(37.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-2 {
    width: calc(25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-1 {
    width: calc(12.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-md-pull-8 {
    right: 100%;
  }
  .col-md-pull-7 {
    right: 87.5%;
  }
  .col-md-pull-6 {
    right: 75%;
  }
  .col-md-pull-5 {
    right: 62.5%;
  }
  .col-md-pull-4 {
    right: 50%;
  }
  .col-md-pull-3 {
    right: 37.5%;
  }
  .col-md-pull-2 {
    right: 25%;
  }
  .col-md-pull-1 {
    right: 12.5%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-8 {
    left: 100%;
  }
  .col-md-push-7 {
    left: 87.5%;
  }
  .col-md-push-6 {
    left: 75%;
  }
  .col-md-push-5 {
    left: 62.5%;
  }
  .col-md-push-4 {
    left: 50%;
  }
  .col-md-push-3 {
    left: 37.5%;
  }
  .col-md-push-2 {
    left: 25%;
  }
  .col-md-push-1 {
    left: 12.5%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-8 {
    margin-left: 100%;
  }
  .col-md-offset-7 {
    margin-left: 87.5%;
  }
  .col-md-offset-6 {
    margin-left: 75%;
  }
  .col-md-offset-5 {
    margin-left: 62.5%;
  }
  .col-md-offset-4 {
    margin-left: 50%;
  }
  .col-md-offset-3 {
    margin-left: 37.5%;
  }
  .col-md-offset-2 {
    margin-left: 25%;
  }
  .col-md-offset-1 {
    margin-left: 12.5%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.0625em;
  }
}
/*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*/
/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16 {
    float: left;
  }
  .col-lg-16 {
    width: calc(100%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-15 {
    width: calc(93.75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-14 {
    width: calc(87.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-13 {
    width: calc(81.25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-12 {
    width: calc(75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-11 {
    width: calc(68.75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-10 {
    width: calc(62.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-9 {
    width: calc(56.25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-8 {
    width: calc(50%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-7 {
    width: calc(43.75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-6 {
    width: calc(37.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-5 {
    width: calc(31.25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-4 {
    width: calc(25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-3 {
    width: calc(18.75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-2 {
    width: calc(12.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-1 {
    width: calc(6.25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-pull-16 {
    right: 100%;
  }
  .col-lg-pull-15 {
    right: 93.75%;
  }
  .col-lg-pull-14 {
    right: 87.5%;
  }
  .col-lg-pull-13 {
    right: 81.25%;
  }
  .col-lg-pull-12 {
    right: 75%;
  }
  .col-lg-pull-11 {
    right: 68.75%;
  }
  .col-lg-pull-10 {
    right: 62.5%;
  }
  .col-lg-pull-9 {
    right: 56.25%;
  }
  .col-lg-pull-8 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 43.75%;
  }
  .col-lg-pull-6 {
    right: 37.5%;
  }
  .col-lg-pull-5 {
    right: 31.25%;
  }
  .col-lg-pull-4 {
    right: 25%;
  }
  .col-lg-pull-3 {
    right: 18.75%;
  }
  .col-lg-pull-2 {
    right: 12.5%;
  }
  .col-lg-pull-1 {
    right: 6.25%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-16 {
    left: 100%;
  }
  .col-lg-push-15 {
    left: 93.75%;
  }
  .col-lg-push-14 {
    left: 87.5%;
  }
  .col-lg-push-13 {
    left: 81.25%;
  }
  .col-lg-push-12 {
    left: 75%;
  }
  .col-lg-push-11 {
    left: 68.75%;
  }
  .col-lg-push-10 {
    left: 62.5%;
  }
  .col-lg-push-9 {
    left: 56.25%;
  }
  .col-lg-push-8 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 43.75%;
  }
  .col-lg-push-6 {
    left: 37.5%;
  }
  .col-lg-push-5 {
    left: 31.25%;
  }
  .col-lg-push-4 {
    left: 25%;
  }
  .col-lg-push-3 {
    left: 18.75%;
  }
  .col-lg-push-2 {
    left: 12.5%;
  }
  .col-lg-push-1 {
    left: 6.25%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-16 {
    margin-left: 100%;
  }
  .col-lg-offset-15 {
    margin-left: 93.75%;
  }
  .col-lg-offset-14 {
    margin-left: 87.5%;
  }
  .col-lg-offset-13 {
    margin-left: 81.25%;
  }
  .col-lg-offset-12 {
    margin-left: 75%;
  }
  .col-lg-offset-11 {
    margin-left: 68.75%;
  }
  .col-lg-offset-10 {
    margin-left: 62.5%;
  }
  .col-lg-offset-9 {
    margin-left: 56.25%;
  }
  .col-lg-offset-8 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 43.75%;
  }
  .col-lg-offset-6 {
    margin-left: 37.5%;
  }
  .col-lg-offset-5 {
    margin-left: 31.25%;
  }
  .col-lg-offset-4 {
    margin-left: 25%;
  }
  .col-lg-offset-3 {
    margin-left: 18.75%;
  }
  .col-lg-offset-2 {
    margin-left: 12.5%;
  }
  .col-lg-offset-1 {
    margin-left: 6.25%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {
  body {
    /* Zoom baseline grid to 18/16 = 1.125 */
    font-size: 1.125em;
    max-width: 160em;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16 {
    float: left;
  }
  .col-lg-16 {
    width: calc(100%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-15 {
    width: calc(93.75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-14 {
    width: calc(87.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-13 {
    width: calc(81.25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-12 {
    width: calc(75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-11 {
    width: calc(68.75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-10 {
    width: calc(62.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-9 {
    width: calc(56.25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-8 {
    width: calc(50%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-7 {
    width: calc(43.75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-6 {
    width: calc(37.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-5 {
    width: calc(31.25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-4 {
    width: calc(25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-3 {
    width: calc(18.75%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-2 {
    width: calc(12.5%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-1 {
    width: calc(6.25%  - 1.5em);
    min-height: 1.5em;
  }
  .col-lg-pull-16 {
    right: 100%;
  }
  .col-lg-pull-15 {
    right: 93.75%;
  }
  .col-lg-pull-14 {
    right: 87.5%;
  }
  .col-lg-pull-13 {
    right: 81.25%;
  }
  .col-lg-pull-12 {
    right: 75%;
  }
  .col-lg-pull-11 {
    right: 68.75%;
  }
  .col-lg-pull-10 {
    right: 62.5%;
  }
  .col-lg-pull-9 {
    right: 56.25%;
  }
  .col-lg-pull-8 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 43.75%;
  }
  .col-lg-pull-6 {
    right: 37.5%;
  }
  .col-lg-pull-5 {
    right: 31.25%;
  }
  .col-lg-pull-4 {
    right: 25%;
  }
  .col-lg-pull-3 {
    right: 18.75%;
  }
  .col-lg-pull-2 {
    right: 12.5%;
  }
  .col-lg-pull-1 {
    right: 6.25%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-16 {
    left: 100%;
  }
  .col-lg-push-15 {
    left: 93.75%;
  }
  .col-lg-push-14 {
    left: 87.5%;
  }
  .col-lg-push-13 {
    left: 81.25%;
  }
  .col-lg-push-12 {
    left: 75%;
  }
  .col-lg-push-11 {
    left: 68.75%;
  }
  .col-lg-push-10 {
    left: 62.5%;
  }
  .col-lg-push-9 {
    left: 56.25%;
  }
  .col-lg-push-8 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 43.75%;
  }
  .col-lg-push-6 {
    left: 37.5%;
  }
  .col-lg-push-5 {
    left: 31.25%;
  }
  .col-lg-push-4 {
    left: 25%;
  }
  .col-lg-push-3 {
    left: 18.75%;
  }
  .col-lg-push-2 {
    left: 12.5%;
  }
  .col-lg-push-1 {
    left: 6.25%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-16 {
    margin-left: 100%;
  }
  .col-lg-offset-15 {
    margin-left: 93.75%;
  }
  .col-lg-offset-14 {
    margin-left: 87.5%;
  }
  .col-lg-offset-13 {
    margin-left: 81.25%;
  }
  .col-lg-offset-12 {
    margin-left: 75%;
  }
  .col-lg-offset-11 {
    margin-left: 68.75%;
  }
  .col-lg-offset-10 {
    margin-left: 62.5%;
  }
  .col-lg-offset-9 {
    margin-left: 56.25%;
  }
  .col-lg-offset-8 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 43.75%;
  }
  .col-lg-offset-6 {
    margin-left: 37.5%;
  }
  .col-lg-offset-5 {
    margin-left: 31.25%;
  }
  .col-lg-offset-4 {
    margin-left: 25%;
  }
  .col-lg-offset-3 {
    margin-left: 18.75%;
  }
  .col-lg-offset-2 {
    margin-left: 12.5%;
  }
  .col-lg-offset-1 {
    margin-left: 6.25%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.row {
  margin-left: calc(100% / 18);
  margin-right: calc(100% / 18);
  clear: both;
}
.row span {
  display: block;
  background-color: #ffc300;
  opacity: 0.5;
}
